* {
    font-family: 'Lato', 'Roboto', 'Helvetica', 'Segoe UI', sans-serif;
}


body {
    font-family: 'Lato', 'Roboto', 'Helvetica', 'Segoe UI', sans-serif;
}

.row-no-margin{
    margin-left: 0;
    margin-right: 0;
}

.page-container {
    min-width: 650px;
    max-width: 1600px;
    background-color: #F6F8F2;
    padding: 0;
}

.header {
    background-color: #242423;
    color: white;
    margin-bottom: 0;
    padding: 0.4rem 0.4rem 0.4rem 0.7rem;
    height: 50px;
}

#left_col {
    background-color: #CFDBD5;
    padding: 1rem 1rem 4.5rem;
    height: unset;
    min-height: calc(100vh - 50px);
}

#left_col_content {
    position: sticky;
    top: 4.5rem;
}

.content{

}

.middle-spacing{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.page-icon{
    color: #87978F;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    font-size: 1rem;
}

.material-icons {
    vertical-align: middle;
    font-size: 1.3rem !important;
}

.nav-color {
    color: white;
    background-color: #242423;
}

.nav-color:hover{
    background-color: #87978F;
}