#TFs li {
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.09);
            list-style-type: none;
            border-radius: 8px;
            padding: 8px;
            margin: 8px 40px;
            color: #5386E4;
            background-color: white;
            font-weight: 400;
        }