.section-header-dataset{
    text-anchor: middle;
    background-color: #333533;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem 0.25rem 0 0;
}

.btn-mod{
    float: right!important;
    background-color: #5A5E5A;
    color: white;
    margin: 10px;
}

.center-table{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.thick-border{
    border-width: 0.15rem;
    border-color: #E8EDDF;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title{
    white-space: normal !important;
    min-height: 2rem !important;
}

.pie{
    height: 15rem;
    width: 100%;
}