.homepage-card{
    background-color: #333533;
    color: white;
    box-shadow: 0 0 0 3pt #F5CB5C;
    min-height: 200px;
}

.middle-divider-lines{
    border-right: #A6B5AE solid 1px;
    border-left: #A6B5AE solid 1px;
}

.db-stat{
    color: #5386E4;
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: 400;
}

h4{
    font-weight: 300;
}

.org-btn{
    font-size: x-large;
    min-height: 3rem;
}

.org-disclaimer{
    color: #87978F;
    font-size: small;
}

.gray-font{
    color: #87978F;
}

.gray-font a{
    color: #417f5d;
}

.new-here{
    color: #87978F;
    margin-top: 2rem
}

.btn-tour{
    background-color: #5386E4;
    color:white;
}