.search-card{
	background-color: #333533;
    color: white;
    box-shadow: 0 0 0 3pt #87978F;
    padding-top: 30pt;
}

.btn-search{
	background-color: #87978F;
}

.form-control:focus{
	border-color: #417f5d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 127, 93, 1);
}

.search-header {
    list-style-type: none;
    color: white;
    font-weight: bold;
    font-size: 16pt;
    border-radius: 8px;
    margin: 2.5rem 40px 0.5rem;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #333533;
}

.result {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.09);
    list-style-type: none;
    border-radius: 8px;
    padding: 8px;
    margin: 8px 40px;
    color: black;
    font-weight: 300;
}

.name-result {
    background-color: #CFDBD5;
    border: 1px solid gray;
}

.result-title {
    color: black;
    font-weight: 400;
}

.result-link:hover .result {
	background-color: #87978F;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    text-decoration: underline;
}

.no-results {
    list-style-type: none;
    margin: 8px 40px;
}