.btn-mod{
    float: right!important;
    background-color: #a6b5ae;
    color: white;
    margin: 10px;
}

.section-header{
    text-anchor: middle;
    background-color: #90A29A;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem 0.25rem 0 0;
}

.dash-card{
    padding: 5px;
}

.round-tab{
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
    border-top-color: #D2DAD6 !important;
    border-left-color: #D2DAD6 !important;
    border-right-color: #D2DAD6 !important;
}

.tab-strip{
    background-color: #D2DAD6;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 66%;/* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  justify-content: center;
  top: 10px;
  left: 10px;
}

svg{
    display: block !important;
    margin: auto;
}

.menu-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 0;
}

.menu-hamburger-height{
    height: fit-content;
    z-index: 9999999;
}

.NA_text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #E8EDEC;
    color: #85998F
}

.meta-info-btn{
    background-color: white;
    border-width: 0;
    color: #85998F;
}
