.btn-mod{
    float: right!important;
    background-color: #a6b5ae;
    color: white;
    margin: 10px;
}

.section-header{
    text-anchor: middle;
    background-color: #90A29A;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem 0.25rem 0 0;
}

.dash-card{
    padding: 5px;
}