.btn-mod{
    float: right!important;
    background-color: #87978F;
    color: white;
    margin: 10px;
}

.section-header{
    text-anchor: middle;
    background-color: white;
    height: 50px;
    line-height: 50px;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
